Repository abhishek0010/fluid.sh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-fluid, fmt-fluid-remote, fmt-sdk-black, fmt-sdk-isort, fmt-web, fmt-landing-page

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    # Go - fluid CLI
    fmt-fluid:
      glob: "*.go"
      root: "fluid"
      run: make fmt
      stage_fixed: true

    # Go - fluid-remote API
    fmt-fluid-remote:
      glob: "*.go"
      root: "fluid-remote"
      run: make fmt
      stage_fixed: true

    # Python SDK
    fmt-sdk-black:
      glob: "*.py"
      root: "sdk/fluid-py"
      run: black .
      stage_fixed: true

    fmt-sdk-isort:
      glob: "*.py"
      root: "sdk/fluid-py"
      run: isort .
      stage_fixed: true

    # Web
    fmt-web:
      glob: "*.{ts,tsx,js,jsx,json,css,md}"
      root: "web"
      run: bun format
      stage_fixed: true

    # Landing Page
    fmt-landing-page:
      glob: "*.{ts,tsx,js,jsx,json,css,md,astro}"
      root: "landing-page"
      run: bun format
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    # Go - fluid CLI
    vet-fluid:
      glob: "*.go"
      root: "fluid"
      run: make vet

    test-fluid:
      glob: "*.go"
      root: "fluid"
      run: make test

    lint-fluid:
      glob: "*.go"
      root: "fluid"
      run: make lint

    # Go - fluid-remote API
    vet-fluid-remote:
      glob: "*.go"
      root: "fluid-remote"
      run: make vet

    test-fluid-remote:
      glob: "*.go"
      root: "fluid-remote"
      run: make test

    lint-fluid-remote:
      glob: "*.go"
      root: "fluid-remote"
      run: make lint

    # Python SDK
    test-sdk:
      glob: "*.py"
      root: "sdk/fluid-sdk-py"
      run: python3 -m pytest test/ -v --tb=short

    # Web
    lint-web:
      glob: "*.ts"
      root: "web"
      run: bun lint

    typecheck-web:
      glob: "*.ts"
      root: "web"
      run: bun typecheck

    # Landing Page
    lint-landing-page:
      glob: "*.{ts,tsx,js,jsx,css,astro}"
      root: "landing-page"
      run: bun lint

    typecheck-landing-page:
      glob: "*.{ts,tsx,js,jsx,css,astro}"
      root: "landing-page"
      run: bun typecheck

    check-landing-page:
      glob: "*.{ts,tsx,js,jsx,css,astro}"
      root: "landing-page"
      run: bun check

Update scripts/reset-ubuntu.Dockerfile
  scripts/reset-ubuntu.Dockerfile
Due: none

Update lefthook.yaml
  lefthook.yaml
Due: none

Update reverse-proxy/nginx.conf
  reverse-proxy/nginx.conf
Due: none

Revise README with new visuals and minor edits (#32)
  README.md
Due: none

Fix typo in production description text (#33)
  landing-page/src/pages/index.astro
Due: fmt-landing-page

fix: update gorelease build architecture
  .github/workflows/release.yaml
Due: none

fix: update gorelease build architecture (#34)
  .github/workflows/release.yaml
Due: none

fix: update goreleaser
  .goreleaser.yaml
Due: none

fix: update goreleaser (#35)
  .goreleaser.yaml
Due: none

fix: use docker for arm builds
  .github/workflows/release.yaml
  .goreleaser.yaml
Due: none

fix: use docker for arm builds (#36)
  .github/workflows/release.yaml
  .goreleaser.yaml
Due: none

fix: use arm runners
  .github/workflows/release.yaml
Due: none

fix: update goreleaser and releaser workflow
  .github/workflows/release.yaml
  .goreleaser.yaml
Due: none

fix: move to arm runners (#37)
  .github/workflows/release.yaml
  .goreleaser.yaml
Due: none

fix: update reverse-proxy
  reverse-proxy/nginx.conf
Due: none

fix: update reverse-proxy (#38)
  reverse-proxy/nginx.conf
Due: none

fix: add health endpoint to reverse proxy
  reverse-proxy/nginx.conf
Due: none

fix: add health endpoint to reverse proxy (#39)
  reverse-proxy/nginx.conf
Due: none

feat: update landing page to add blog and better understanding of the product
  landing-page/bun.lock
  landing-page/package.json
  landing-page/src/content/blog/introducing-fluid.mdx
  landing-page/src/layouts/BaseLayout.astro
  landing-page/src/pages/blog/index.astro
  landing-page/src/pages/index.astro
Due: fmt-landing-page

fix: add /batch/ route to posthog reverse proxy
  reverse-proxy/nginx.conf
Due: none

fix: add /batch/ route to posthog reverse proxy (#41)
  reverse-proxy/nginx.conf
Due: none

feat: add changelog
  landing-page/src/content/blog/changelog-v0.1.1.md
  landing-page/src/pages/blog/[...slug].astro
  landing-page/src/pages/blog/index.astro
Due: fmt-landing-page

feat: update landing page to add blog and better understanding (#40)
  landing-page/bun.lock
  landing-page/package.json
  landing-page/src/content/blog/changelog-v0.1.1.md
  landing-page/src/content/blog/introducing-fluid.mdx
  landing-page/src/layouts/BaseLayout.astro
  landing-page/src/pages/blog/[...slug].astro
  landing-page/src/pages/blog/index.astro
  landing-page/src/pages/index.astro
Due: fmt-landing-page

feat: add in read-only mode for source-vms
  README.md
  fluid/cmd/fluid/main.go
  fluid/internal/llm/tools.go
  fluid/internal/readonly/prepare.go
  fluid/internal/readonly/shell.go
  fluid/internal/readonly/validate.go
  fluid/internal/readonly/validate_test.go
  fluid/internal/sshkeys/manager.go
  fluid/internal/tui/agent.go
  fluid/internal/tui/confirm.go
  fluid/internal/tui/model.go
  fluid/internal/tui/onboarding.go
  fluid/internal/vm/service.go
Due: fmt-fluid

fix: add in posthog reverse proxy
  fluid-remote/internal/telemetry/telemetry.go
  fluid/internal/telemetry/telemetry.go
  landing-page/.gitignore
  reverse-proxy/.gitignore
Due: fmt-fluid, fmt-fluid-remote

Update fluid/internal/readonly/prepare.go
  fluid/internal/readonly/prepare.go
Due: fmt-fluid

Fix shell injection vulnerability in readSourceFile path parameter (#43)
  fluid/internal/tui/agent.go
  fluid/internal/tui/agent_test.go
Due: fmt-fluid

Add unit tests for GetSourceVMCredentials (#44)
  fluid/internal/sshkeys/manager_test.go
Due: fmt-fluid

fix: block shell metacharacters in read-only command validation (#46)
  fluid/internal/readonly/validate.go
  fluid/internal/readonly/validate_test.go
Due: fmt-fluid

fix: prevent shell metacharacter bypass in restricted shell (#47)
  fluid/internal/readonly/shell.go
  fluid/internal/readonly/shell_test.go
Due: fmt-fluid

test: add unit tests for source VM command execution paths (#45)
  fluid/internal/vm/service_test.go
Due: fmt-fluid

fix: resolve reverse proxy DNS, SSL, and CORS issues
  reverse-proxy/README.md
  reverse-proxy/nginx.conf
Due: none

fix: resolve reverse proxy DNS, SSL, and CORS issues (#48)
  reverse-proxy/README.md
  reverse-proxy/nginx.conf
Due: none

Refactor PostHog script to use environment variables
  landing-page/src/components/posthog.astro
Due: fmt-landing-page

Refactor PostHog script to use environment variables (#49)
  landing-page/src/components/posthog.astro
Due: fmt-landing-page

fix: sanitize VM names in filesystem paths to prevent path traversal (#50)
  fluid/internal/sshkeys/manager.go
  fluid/internal/sshkeys/manager_test.go
Due: fmt-fluid

fix: fix go defer
  fluid/cmd/fluid/main.go
  fluid/internal/tui/history.go
  web/.eslintcache
Due: fmt-fluid

fix: ignore eslintcache
  web/.eslintcache
  web/.gitignore
Due: none
