Repository abhishek0010/fluid.sh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-fluid, fmt-fluid-remote, fmt-sdk-black, fmt-sdk-isort, fmt-web, fmt-landing-page

fmt-fluid:
  run: make fmt
  stage_fixed: true

fmt-fluid-remote:
  run: make fmt
  stage_fixed: true

fmt-sdk-black:
  run: black .
  stage_fixed: true

fmt-sdk-isort:
  run: isort .
  stage_fixed: true

fmt-web:
  run: bun format
  stage_fixed: true

fmt-landing-page:
  run: bun format
  stage_fixed: true

fix: resolve lint issues in proxmox and vm packages
  fluid/internal/proxmox/client.go
  fluid/internal/proxmox/client_test.go
  fluid/internal/proxmox/manager_test.go
  fluid/internal/vm/service.go
Due: fmt-fluid

fix: handle w.Write error returns in error test cases
  fluid/internal/proxmox/client_test.go
Due: fmt-fluid

fix: handle remaining w.Write error returns in manager tests
  fluid/internal/proxmox/manager_test.go
Due: fmt-fluid

fix: add input validation, path traversal protection, and file size limits to MCP handlers
  fluid/internal/mcp/handlers.go
  fluid/internal/mcp/handlers_test.go
  fluid/internal/mcp/server.go
  fluid/internal/mcp/validate.go
  fluid/internal/mcp/validate_test.go
Due: fmt-fluid

fix: integrate file permission checks into config loading and enhance proxmox docs
  fluid/cmd/fluid/main.go
  fluid/internal/config/config.go
  fluid/internal/config/config_test.go
  fluid/internal/provider/provider.go
  fluid/internal/proxmox/client.go
  fluid/internal/proxmox/client_test.go
  fluid/internal/proxmox/config.go
  fluid/internal/proxmox/manager.go
  fluid/internal/proxmox/manager_test.go
  fluid/internal/tui/settings.go
Due: fmt-fluid

feat: add telemetry tracking and error logging to MCP handlers
  fluid/internal/mcp/handlers.go
  fluid/internal/mcp/handlers_test.go
Due: fmt-fluid

feat: add Proxmox VE provider support (#64)
  fluid/cmd/fluid/main.go
  fluid/internal/config/config.go
  fluid/internal/config/config_test.go
  fluid/internal/libvirt/virsh-stub.go
  fluid/internal/libvirt/virsh.go
  fluid/internal/provider/multihost.go
  fluid/internal/provider/provider.go
  fluid/internal/provider/types.go
  fluid/internal/proxmox/client.go
  fluid/internal/proxmox/client_test.go
  fluid/internal/proxmox/config.go
  fluid/internal/proxmox/manager.go
  fluid/internal/proxmox/manager_test.go
  fluid/internal/proxmox/multihost.go
  fluid/internal/proxmox/naming.go
  fluid/internal/proxmox/types.go
  fluid/internal/tui/agent.go
  fluid/internal/tui/onboarding.go
  fluid/internal/tui/settings.go
  fluid/internal/vm/service.go
Due: fmt-fluid

fix: stop swallowing findHostForSourceVM error, check edited file size, deduplicate shell escaping
  fluid/internal/mcp/handlers.go
Due: fmt-fluid

fix: remove unused manager param from MCP NewServer, fix error handling and file size check
  fluid/cmd/fluid/main.go
  fluid/internal/mcp/handlers_test.go
  fluid/internal/mcp/server.go
  fluid/internal/mcp/server_test.go
Due: fmt-fluid

feat: add list_vms pagination, handler timeouts, edit_file replace_all
  fluid/internal/mcp/handlers.go
  fluid/internal/mcp/handlers_test.go
  fluid/internal/mcp/server.go
Due: fmt-fluid

fix: give cli extra timeout
  .github/workflows/ci.yaml
Due: none

fix: replace echo shell interpolation with heredoc in edit_file
  fluid/internal/mcp/handlers.go
  fluid/internal/mcp/handlers_test.go
Due: fmt-fluid

feat: add fluid mcp server (#63)
  .github/workflows/ci.yaml
  fluid/AGENTS.md
  fluid/cmd/fluid/main.go
  fluid/go.mod
  fluid/go.sum
  fluid/internal/mcp/handlers.go
  fluid/internal/mcp/handlers_test.go
  fluid/internal/mcp/server.go
  fluid/internal/mcp/server_test.go
  fluid/internal/mcp/validate.go
  fluid/internal/mcp/validate_test.go
Due: fmt-fluid

test: add comprehensive tests for sandbox-host, control-plane, and fluid modules
  control-plane/internal/api/handlers_host_test.go
  control-plane/internal/api/handlers_sandbox_test.go
  control-plane/internal/api/handlers_source_test.go
  control-plane/internal/orchestrator/placement_test.go
  control-plane/internal/registry/registry_test.go
  fluid/internal/controlplane/client.go
  fluid/internal/controlplane/client_test.go
  sandbox-host/internal/agent/reconnect_test.go
  sandbox-host/internal/config/config_test.go
  sandbox-host/internal/image/store_test.go
  sandbox-host/internal/janitor/janitor_test.go
  sandbox-host/internal/network/bridge_test.go
  sandbox-host/internal/state/sqlite_test.go
Due: fmt-fluid

feat: use XDG base directories in fluid-cli (#67)
  api/cmd/server/main.go
  api/docs/openapi.yaml
  api/internal/rest/auth_handlers.go
  api/internal/rest/host_handlers.go
  api/internal/rest/org_handlers.go
  api/internal/rest/sandbox_handlers.go
  api/internal/rest/source_handlers.go
  fluid-cli/.gitignore
  fluid-cli/cmd/fluid-cli/main.go
  fluid-cli/internal/config/config.go
  fluid-cli/internal/paths/migrate.go
  fluid-cli/internal/paths/paths.go
  fluid-cli/internal/paths/paths_test.go
  fluid-cli/internal/store/sqlite/sqlite.go
  fluid-cli/internal/tui/history.go
  fluid-cli/internal/tui/history_test.go
  fluid-cli/internal/tui/model.go
  fluid-cli/internal/tui/onboarding.go
  fluid-cli/internal/updater/updater.go
  web/src/components/docs/api-endpoint-card.tsx
  web/src/content/blog/how-does-tunneling-work.mdx
Due: fmt-web

ci: add container image builds to release workflow (#68)
  .dockerignore
  .github/workflows/release.yaml
  web/Dockerfile
Due: none

fix: daemon download URL and SPA routing on Render (#69)
  fluid-cli/internal/setup/steps.go
  web/public/_redirects
Due: none

content: update web frontend - blog rewrite, docs, settings, and routes (#70)
  web/src/components/blog/tunneling/PacketJourney.tsx
  web/src/components/docs/daemon-setup-steps.tsx
  web/src/components/docs/quickstart-steps.tsx
  web/src/components/docs/step-tracker.tsx
  web/src/content/blog/changelog-v0.1.3.mdtest
  web/src/content/blog/code-is-too-cheap.mdtest
  web/src/content/blog/how-does-tunneling-work.mdx
  web/src/content/blog/how-fluid-builds-safe-sandboxes.mdtest
  web/src/content/blog/how-fluid-reads-source-vms-safely.mdtest
  web/src/content/blog/how-sandboxes-work.md
  web/src/routeTree.gen.ts
  web/src/routes/_app/settings.tsx
  web/src/routes/_app/settings/hosts.tsx
  web/src/routes/_auth/register.tsx
  web/src/routes/docs/daemon.tsx
Due: fmt-web

fix: mobile responsiveness for blog interactive components (#72)
  web/src/components/blog/blog-cta.tsx
  web/src/components/blog/memory-ballooning/MemoryAddressTranslation.tsx
  web/src/components/blog/memory-ballooning/MemoryBalloonGame.tsx
  web/src/components/blog/tunneling/PacketJourney.tsx
  web/src/routes/_public.tsx
Due: fmt-web

fix: let agent respond normally when no sources are prepared (#74)
  .github/workflows/release.yaml
  .goreleaser.yaml
  RELEASING.md
  api/go.mod
  api/go.sum
  fluid-cli/go.mod
  fluid-cli/go.sum
  fluid-cli/internal/llm/tools.go
  fluid-cli/internal/llm/tools_test.go
  fluid-cli/internal/tui/agent.go
  fluid-daemon/go.mod
  fluid-daemon/go.sum
  go.work
  go.work.sum
  proto/gen/go/go.mod
  proto/gen/go/go.sum
  web/src/content/blog/how-does-tunneling-work.mdx
  web/src/content/blog/what-is-memory-ballooning.mdx
Due: none

Add onboarding info callout to quickstart source VM step (#75)
  fluid-cli/AGENTS.md
  fluid-cli/internal/source/prepare.go
  web/src/components/docs/quickstart-steps.tsx
  web/src/components/docs/step-tracker.tsx
Due: fmt-web

Readme fix (#78)
  README.md
  docs/assets/G-fD3zSWMAAv6L5.jpeg
Due: none

Path conditions:
  fmt-fluid: any of: *.go and ^fluid/
  fmt-fluid-remote: any of: *.go and ^fluid\-remote/
  fmt-sdk-black: any of: *.py and ^sdk/fluid\-py/
  fmt-sdk-isort: any of: *.py and ^sdk/fluid\-py/
  fmt-web: any of: *.{ts,tsx,js,jsx,json,css,md} and ^web/
  fmt-landing-page: any of: *.{ts,tsx,js,jsx,json,css,md,astro} and ^landing\-page/
