Repository abhishek0010/fluid.sh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-fluid, fmt-fluid-remote, fmt-sdk-black, fmt-sdk-isort, fmt-web, fmt-landing-page

fmt-fluid:
  run: make fmt
  stage_fixed: true

fmt-fluid-remote:
  run: make fmt
  stage_fixed: true

fmt-sdk-black:
  run: black .
  stage_fixed: true

fmt-sdk-isort:
  run: isort .
  stage_fixed: true

fmt-web:
  run: bun format
  stage_fixed: true

fmt-landing-page:
  run: bun format
  stage_fixed: true

fix: fix linting issues
  fluid/internal/readonly/shell_test.go
  fluid/internal/sshkeys/manager_test.go
Due: fmt-fluid

fix: fix quotes
  fluid/internal/tui/agent.go
Due: fmt-fluid

feat: add telemetry, add security model, better error handling for source-vm preparation failure
  SECURITY.md
  fluid/internal/readonly/shell_test.go
  fluid/internal/sshkeys/manager.go
  fluid/internal/sshkeys/manager_test.go
  fluid/internal/tui/agent.go
  fluid/internal/vm/service.go
  fluid/internal/vm/service_test.go
Due: fmt-fluid

fix: linting issues with error
  fluid/internal/tui/agent.go
Due: fmt-fluid

docs: add changelog #002 and source VM read-only access docs
  README.md
  landing-page/src/content/blog/changelog-v0.1.2.md
Due: fmt-landing-page

feat: add SSH password auth support for Docker-based remote execution
  scripts/reset-ubuntu.Dockerfile
  scripts/run-on-remotes.sh
Due: none

docs: add technical write-up for read-only source VM feature
  landing-page/src/content/blog/how-fluid-reads-source-vms-safely.md
Due: fmt-landing-page

docs: add fluid CLI technical overview
  docs/fluid-cli-technical-overview.md
Due: none

docs: add changelog #002 and source VM read-only access docs (#51)
  README.md
  landing-page/src/content/blog/changelog-v0.1.2.md
Due: fmt-landing-page

Update docs/fluid-cli-technical-overview.md
  docs/fluid-cli-technical-overview.md
Due: none

Update scripts/run-on-remotes.sh
  scripts/run-on-remotes.sh
Due: none

Update landing-page/src/content/blog/how-fluid-reads-source-vms-safely.md
  landing-page/src/content/blog/how-fluid-reads-source-vms-safely.md
Due: fmt-landing-page

docs: clarify cloud-init ISO generation is best-effort in CloneFromVM (#55)
  docs/fluid-cli-technical-overview.md
Due: none

docs: Fix CA public key paths and injection methods in technical overview (#56)
  docs/fluid-cli-technical-overview.md
Due: none

docs: Add comprehensive technical overview of Fluid CLI (#54)
  docs/fluid-cli-technical-overview.md
Due: none

Add sshpass availability check when SSH_PASSWORD is set (#57)
  scripts/run-on-remotes.sh
Due: none

Add technical blog post on source VM read-only access design (#53)
  landing-page/src/content/blog/how-fluid-reads-source-vms-safely.md
Due: fmt-landing-page

feat: update changelog and technical write ups
  docs/fluid-cli-technical-overview.md
  landing-page/src/content/blog/building-data-pipelines-with-fluid.md
  landing-page/src/content/blog/changelog-v0.1.1.md
  landing-page/src/content/blog/changelog-v0.1.2.md
  landing-page/src/content/blog/how-does-vm-disk-cache-make-such-a-difference.md
  landing-page/src/content/blog/how-fluid-builds-safe-sandboxes.md
Due: fmt-landing-page

feat: update changelog and technical write ups
  landing-page/src/content/blog/how-fluid-reads-source-vms-safely.md
Due: fmt-landing-page

feat: add changelog 2 (#61)
  docs/fluid-cli-technical-overview.md
  landing-page/src/content/blog/building-data-pipelines-with-fluid.md
  landing-page/src/content/blog/changelog-v0.1.1.md
  landing-page/src/content/blog/changelog-v0.1.2.md
  landing-page/src/content/blog/how-does-vm-disk-cache-make-such-a-difference.md
  landing-page/src/content/blog/how-fluid-builds-safe-sandboxes.md
  landing-page/src/content/blog/how-fluid-reads-source-vms-safely.md
Due: fmt-landing-page

fix: make reset-ubuntu script wrk with username/password
  scripts/reset-ubuntu.Dockerfile
  scripts/run-on-remotes.sh
Due: none

fix: update security, expanded docs
  scripts/reset-ubuntu.Dockerfile
  scripts/run-on-remotes.sh
Due: none

fix: fix readonly shell, blog posts, remote runner
  fluid/cmd/fluid/main.go
  fluid/internal/readonly/prepare.go
  fluid/internal/readonly/shell.go
  fluid/internal/readonly/shell_test.go
  fluid/internal/tui/agent.go
  fluid/internal/tui/logo.go
  fluid/internal/tui/messages.go
  fluid/internal/tui/model.go
  fluid/internal/tui/onboarding.go
  fluid/internal/vm/service.go
  landing-page/src/content/blog/how-fluid-reads-source-vms-safely.md
  scripts/.gitignore
  scripts/entrypoint.sh
  scripts/hosts.txt
  scripts/reset-ubuntu.Dockerfile
  scripts/reset-ubuntu.sh
  scripts/run-on-remotes.sh
  scripts/setup-ubuntu.sh
Due: fmt-fluid, fmt-landing-page

fix: fix lipgloss linting
  fluid/internal/tui/model.go
Due: fmt-fluid

fix: add security documentation, error handeling, handling hosts file, integration tests for preparation flow
  fluid/cmd/fluid/main.go
  fluid/internal/readonly/prepare.go
  fluid/internal/readonly/prepare_test.go
  fluid/internal/tui/agent.go
  fluid/internal/tui/onboarding.go
  scripts/run-on-remotes.sh
Due: fmt-fluid

fix: empty if
  fluid/internal/readonly/prepare_test.go
Due: fmt-fluid

fix: remove ssh-users.conf
  scripts/.gitignore
  scripts/ssh-users.conf
Due: none

fix: fix entrypoint
  scripts/reset-ubuntu.Dockerfile
Due: none

fix: make reset-ubuntu script wrk with username/password (#62)
  fluid/cmd/fluid/main.go
  fluid/internal/readonly/prepare.go
  fluid/internal/readonly/prepare_test.go
  fluid/internal/readonly/shell.go
  fluid/internal/readonly/shell_test.go
  fluid/internal/tui/agent.go
  fluid/internal/tui/logo.go
  fluid/internal/tui/messages.go
  fluid/internal/tui/model.go
  fluid/internal/tui/onboarding.go
  fluid/internal/vm/service.go
  landing-page/src/content/blog/how-fluid-reads-source-vms-safely.md
  scripts/.gitignore
  scripts/entrypoint.sh
  scripts/hosts.txt
  scripts/reset-ubuntu.Dockerfile
  scripts/reset-ubuntu.sh
  scripts/run-on-remotes.sh
  scripts/setup-ubuntu.sh
  scripts/ssh-users.conf
Due: fmt-fluid, fmt-landing-page

feat: add MCP server exposing fluid tools over stdio
  fluid/cmd/fluid/main.go
  fluid/go.mod
  fluid/go.sum
  fluid/internal/mcp/handlers.go
  fluid/internal/mcp/server.go
Due: fmt-fluid

feat: add MCP server exposing fluid tools over stdio
  fluid/internal/mcp/handlers.go
Due: fmt-fluid

fix: address PR review - add tests, fix shell injection, add MCP docs
  fluid/AGENTS.md
  fluid/internal/mcp/handlers.go
  fluid/internal/mcp/handlers_test.go
  fluid/internal/mcp/server_test.go
Due: fmt-fluid

fix: remove unused mockManager from test file
  fluid/internal/mcp/handlers_test.go
Due: fmt-fluid

fix: standardize error handling across all MCP handlers
  fluid/internal/mcp/handlers.go
  fluid/internal/mcp/handlers_test.go
Due: fmt-fluid

fix: guard against unconfigured playbooks directory in handleListPlaybooks
  fluid/internal/mcp/handlers.go
  fluid/internal/mcp/handlers_test.go
Due: fmt-fluid

feat: add Proxmox VE provider support with provider abstraction
  fluid/cmd/fluid/main.go
  fluid/internal/config/config.go
  fluid/internal/config/config_test.go
  fluid/internal/libvirt/virsh-stub.go
  fluid/internal/libvirt/virsh.go
  fluid/internal/provider/multihost.go
  fluid/internal/provider/provider.go
  fluid/internal/provider/types.go
  fluid/internal/proxmox/client.go
  fluid/internal/proxmox/client_test.go
  fluid/internal/proxmox/config.go
  fluid/internal/proxmox/manager.go
  fluid/internal/proxmox/manager_test.go
  fluid/internal/proxmox/multihost.go
  fluid/internal/proxmox/naming.go
  fluid/internal/proxmox/types.go
  fluid/internal/tui/agent.go
  fluid/internal/tui/onboarding.go
  fluid/internal/vm/service.go
Due: fmt-fluid

Path conditions:
  fmt-fluid: any of: *.go and ^fluid/
  fmt-fluid-remote: any of: *.go and ^fluid\-remote/
  fmt-sdk-black: any of: *.py and ^sdk/fluid\-py/
  fmt-sdk-isort: any of: *.py and ^sdk/fluid\-py/
  fmt-web: any of: *.{ts,tsx,js,jsx,json,css,md} and ^web/
  fmt-landing-page: any of: *.{ts,tsx,js,jsx,json,css,md,astro} and ^landing\-page/
